<a href="https://colab.research.google.com/github/Sravika2509/dffd/blob/master/121015070.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
url="https://github.com/Sravika2509/Sravs121015070/blob/master/Tiger%20Analytics%20-%20Tiger%20Edge%20Material%20set%201/14th%20March/Exercise%20Set%201/Exercises-Set1.pdf"
df=pd.read_excel(url)
print(df)

XLRDError: ignored

In [0]:

import pandas as pd
url="https://github.com/Sravika2509/Sravs121015070/blob/master/Tiger%20Analytics%20-%20Tiger%20Edge%20Material%20set%201/14th%20March/Exercise%20Set%201/SaleData.xlsx"

df= pd.read_excel(url)
print(df)

XLRDError: ignored

In [0]:
df.shape

(43, 8)

In [0]:
df.dtypes

OrderDate     datetime64[ns]
Region                object
Manager               object
SalesMan              object
Item                  object
Units                  int64
Unit_price           float64
Sale_amt             float64
dtype: object

In [0]:
df.columns

Index(['OrderDate', 'Region', 'Manager', 'SalesMan', 'Item', 'Units',
       'Unit_price', 'Sale_amt'],
      dtype='object')

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderDate   43 non-null     datetime64[ns]
 1   Region      43 non-null     object
 2   Manager     43 non-null     object
 3   SalesMan    43 non-null     object
 4   Item        43 non-null     object
 5   Units       43 non-null     int64
 6   Unit_price  43 non-null     float64
 7   Sale_amt    43 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 2.8+ KB

In [0]:
#1. Find the least amount sale that was done for each item.

In [0]:
 df.groupby('Item')['Sale_amt'].min()

Item
Cell Phone      3375.0
Desk             250.0
Home Theater    2000.0
Television      8386.0
Video Games      936.0
Name: Sale_amt, dtype: float64

In [0]:
#2.compute the total sales for each year and region

In [0]:
df2=df[['OrderDate','Region','Sale_amt']]

In [0]:
group_by_carrier1 = df2.groupby(['OrderDate','Region'])

In [0]:
group_by_carrier1.sum()

NameError: ignored

In [0]:
#3. Create new column 'days_diff' with number of days difference between a reference date passed and each order date 
from datetime import datetime

year = int(input('Enter a year'))
month = int(input('Enter a month'))
day = int(input('Enter a day'))

df['days_diff'] = abs(df['OrderDate'] - datetime(year, month, day))
print(df)

Enter a year2020
Enter a month3
Enter a day4
    OrderDate   Region  Manager  ... Unit_price  Sale_amt  days_diff
0  2018-01-06     East   Martha  ...     1198.0  113810.0   788 days
1  2018-01-23  Central  Hermann  ...      500.0   25000.0   771 days
2  2018-02-09  Central  Hermann  ...     1198.0   43128.0   754 days
3  2018-02-26  Central  Timothy  ...      225.0    6075.0   737 days
4  2018-03-15     West  Timothy  ...     1198.0   67088.0   720 days
5  2018-04-01     East   Martha  ...      500.0   30000.0   703 days
6  2018-04-18  Central   Martha  ...     1198.0   89850.0   686 days
7  2018-05-05  Central  Hermann  ...     1198.0  107820.0   669 days
8  2018-05-22     West  Douglas  ...     1198.0   38336.0   652 days
9  2018-06-08     East   Martha  ...      500.0   30000.0   635 days
10 2018-06-25  Central  Hermann  ...     1198.0  107820.0   618 days
11 2018-07-12     East   Martha  ...      500.0   14500.0   601 days
12 2018-07-29     East  Douglas  ...      500.0   40500.0   584 days
13 2018-08-15     East   Martha  ...     1198.0   41930.0   567 days
14 2018-09-01  Central  Douglas  ...      125.0     250.0   550 days
15 2018-09-18     East   Martha  ...       58.5     936.0   533 days
16 2018-10-05  Central  Hermann  ...      500.0   14000.0   516 days
17 2018-10-22     East   Martha  ...      225.0   14400.0   499 days
18 2018-11-08     East  Douglas  ...      225.0    3375.0   482 days
19 2018-11-25  Central  Hermann  ...       58.5    5616.0   465 days
20 2018-12-12  Central  Douglas  ...     1198.0   80266.0   448 days
21 2018-12-29     East  Douglas  ...       58.5    4329.0   431 days
22 2019-01-15  Central  Timothy  ...      500.0   23000.0   414 days
23 2019-02-01  Central  Douglas  ...      500.0   43500.0   397 days
24 2019-02-18     East   Martha  ...      500.0    2000.0   380 days
25 2019-03-07     West  Timothy  ...      500.0    3500.0   363 days
26 2019-03-24  Central  Hermann  ...       58.5    2925.0   346 days
27 2019-04-10  Central   Martha  ...     1198.0   79068.0   329 days
28 2019-04-27     East   Martha  ...      225.0   21600.0   312 days
29 2019-05-14  Central  Timothy  ...     1198.0   63494.0   295 days
30 2019-05-31  Central  Timothy  ...      500.0   40000.0   278 days
31 2019-06-17  Central  Hermann  ...      125.0     625.0   261 days
32 2019-07-04     East   Martha  ...       58.5    3627.0   244 days
33 2019-07-21  Central  Hermann  ...       58.5    3217.5   227 days
34 2019-08-07  Central  Hermann  ...       58.5    2457.0   210 days
35 2019-08-24     West  Timothy  ...      125.0     375.0   193 days
36 2019-09-10  Central  Timothy  ...     1198.0    8386.0   176 days
37 2019-09-27     West  Timothy  ...      225.0   17100.0   159 days
38 2019-10-14     West  Douglas  ...      500.0   28500.0   142 days
39 2019-10-31  Central   Martha  ...     1198.0   16772.0   125 days
40 2019-11-17  Central  Hermann  ...      500.0    5500.0   108 days
41 2019-12-04  Central  Hermann  ...      500.0   47000.0    91 days
42 2019-12-21  Central   Martha  ...      500.0   14000.0    74 days

[43 rows x 9 columns]

In [0]:
#4. Create a dataframe with two columns: 'manager', 'list_of_salesmen'. Column 'manager' will contain the unique managers present and column 'list_of_salesmen' will contain an array of all salesmen under each manager.

In [0]:
df1=df[['Manager','SalesMan']]

In [0]:
group_by_carrier2 = df1.groupby(['Manager','SalesMan'])

In [0]:
group_by_carrier2.count()

Empty DataFrame
Columns: []
Index: [(Douglas, John), (Douglas, Karen), (Douglas, Michael), (Hermann, Luis), (Hermann, Shelli), (Hermann, Sigal), (Martha, Alexander), (Martha, Diana), (Martha, Steven), (Timothy, David), (Timothy, Stephen)]

In [0]:
#5. For all regions find number of salesman and total sales. Return as a dataframe with three columns - Region, salesmen_count and total_sales

In [0]:
df3=df[['Region','SalesMan','Sale_amt']]

In [0]:
group_by_carrier4 = df3.groupby(['Region','SalesMan','Sale_amt'])

In [0]:
group_by_carrier4.count()

Empty DataFrame
Columns: []
Index: [(Central, David, 6075.0), (Central, David, 8386.0), (Central, David, 23000.0), (Central, David, 40000.0), (Central, David, 63494.0), (Central, John, 250.0), (Central, John, 43500.0), (Central, John, 80266.0), (Central, Luis, 2925.0), (Central, Luis, 5500.0), (Central, Luis, 43128.0), (Central, Luis, 47000.0), (Central, Luis, 107820.0), (Central, Shelli, 625.0), (Central, Shelli, 2457.0), (Central, Shelli, 5616.0), (Central, Shelli, 25000.0), (Central, Sigal, 3217.5), (Central, Sigal, 14000.0), (Central, Sigal, 107820.0), (Central, Steven, 14000.0), (Central, Steven, 16772.0), (Central, Steven, 79068.0), (Central, Steven, 89850.0), (East, Alexander, 936.0), (East, Alexander, 2000.0), (East, Alexander, 3627.0), (East, Alexander, 14400.0), (East, Alexander, 30000.0), (East, Alexander, 41930.0), (East, Alexander, 113810.0), (East, Diana, 14500.0), (East, Diana, 21600.0), (East, Karen, 3375.0), (East, Karen, 4329.0), (East, Karen, 40500.0), (West, Michael, 28500.0), (West, Michael, 38336.0), (West, Stephen, 375.0), (West, Stephen, 3500.0), (West, Stephen, 17100.0), (West, Stephen, 67088.0)]

In [0]:
#6. Create a dataframe with total sales as percentage for each manager. Dataframe to contain manager and percent_sales 
managers = df['Manager'].unique()
data = {}
data['manager'] = managers

constant = 100/df['Sale_amt'].sum()
sales_list = []

for manager in managers:
  sales_list.append(list(df['Sale_amt'].where(df['Manager'] == manager)))
for index,sales in enumerate(sales_list):
  sales_list[index]=sum(list(set(amount for amount in sales if str(amount)!='nan')))*constant

data['percent_sales'] = sales_list

sale_4 = pd.DataFrame(data)
print(sale_4)

   manager  percent_sales
0   Martha      33.889967
1  Hermann      19.705394
2  Timothy      17.540193
3  Douglas      18.308990

In [0]:
#diamond data set 
# reading csv file  
dfd=pd.read_csv('diamonds.csv')

In [0]:
dfd

      carat        cut color clarity  depth  table   price     x     y     z
0      0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1      0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2      0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3      0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4      0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...     ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53938  0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76   3.5
53939  0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53940   0.7  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53941  0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53942  0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53943 rows x 10 columns]

In [0]:
#1. Count the duplicate rows of diamonds dataframe

In [0]:
len(dfd)-len(dfd.drop_duplicates())

149

In [0]:
#2. Drop rows in case of missing values in carat and cut columns.
 dfd.dropna(how='any', subset=['carat', 'cut'])

      carat        cut color clarity  depth  table   price     x     y     z
0      0.23      Ideal     E     SI2   61.5   55.0   326.0  3.95  3.98  2.43
1      0.21    Premium     E     SI1   59.8   61.0   326.0  3.89  3.84  2.31
2      0.23       Good     E     VS1   56.9   65.0   327.0  4.05  4.07  2.31
3      0.29    Premium     I     VS2   62.4   58.0   334.0  4.20  4.23  2.63
4      0.31       Good     J     SI2   63.3   58.0   335.0  4.34  4.35  2.75
...     ...        ...   ...     ...    ...    ...     ...   ...   ...   ...
53938  0.72      Ideal     D     SI1   60.8   57.0  2757.0  5.75  5.76   3.5
53939  0.72       Good     D     SI1   63.1   55.0  2757.0  5.69  5.75  3.61
53940   0.7  Very Good     D     SI1   62.8   60.0  2757.0  5.66  5.68  3.56
53941  0.86    Premium     H     SI2   61.0   58.0  2757.0  6.15  6.12  3.74
53942  0.75      Ideal     D     SI2   62.2   55.0  2757.0  5.83  5.87  3.64

[53941 rows x 10 columns]

In [0]:
#3. Subset the dataframe with only numeric columns. 
 dfd._get_numeric_data()

       depth  table   price     x     y
0       61.5   55.0   326.0  3.95  3.98
1       59.8   61.0   326.0  3.89  3.84
2       56.9   65.0   327.0  4.05  4.07
3       62.4   58.0   334.0  4.20  4.23
4       63.3   58.0   335.0  4.34  4.35
...      ...    ...     ...   ...   ...
53938   60.8   57.0  2757.0  5.75  5.76
53939   63.1   55.0  2757.0  5.69  5.75
53940   62.8   60.0  2757.0  5.66  5.68
53941   61.0   58.0  2757.0  6.15  6.12
53942   62.2   55.0  2757.0  5.83  5.87

[53943 rows x 5 columns]

In [0]:
#4. Compute volume as (x*y*z) when depth is greater than 60. In case of depth less than 60 default volume to 8. 
def float_value(value):
  if value == 'None':
    return 0
  return float(value)

def volume(row):
  if row['depth'] > 60:
    return float_value(row['x'])*float_value(row['y'])*float_value(row['z'])
  else:
    return float(8)

dfd['volume'] = dfd.apply(lambda row: volume(row), axis = 1)

print(dfd)

      carat        cut color clarity  ...     x     y     z      volume
0      0.23      Ideal     E     SI2  ...  3.95  3.98  2.43   38.202030
1      0.21    Premium     E     SI1  ...  3.89  3.84  2.31    8.000000
2      0.23       Good     E     VS1  ...  4.05  4.07  2.31    8.000000
3      0.29    Premium     I     VS2  ...  4.20  4.23  2.63   46.724580
4      0.31       Good     J     SI2  ...  4.34  4.35  2.75   51.917250
...     ...        ...   ...     ...  ...   ...   ...   ...         ...
53938  0.72      Ideal     D     SI1  ...  5.75  5.76   3.5  115.920000
53939  0.72       Good     D     SI1  ...  5.69  5.75  3.61  118.110175
53940   0.7  Very Good     D     SI1  ...  5.66  5.68  3.56  114.449728
53941  0.86    Premium     H     SI2  ...  6.15  6.12  3.74  140.766120
53942  0.75      Ideal     D     SI2  ...  5.83  5.87  3.64  124.568444

[53943 rows x 11 columns]

In [0]:
#5. Impute missing price values with mean
from sklearn.impute import SimpleImputer
import numpy as np

imputer = SimpleImputer(missing_values = np.nan,strategy = 'mean')
dfd["price"] = imputer.fit_transform(dfd[["price"]]).ravel()

In [0]:
dfd

      carat        cut color clarity  ...     x     y     z      volume
0      0.23      Ideal     E     SI2  ...  3.95  3.98  2.43   38.202030
1      0.21    Premium     E     SI1  ...  3.89  3.84  2.31    8.000000
2      0.23       Good     E     VS1  ...  4.05  4.07  2.31    8.000000
3      0.29    Premium     I     VS2  ...  4.20  4.23  2.63   46.724580
4      0.31       Good     J     SI2  ...  4.34  4.35  2.75   51.917250
...     ...        ...   ...     ...  ...   ...   ...   ...         ...
53938  0.72      Ideal     D     SI1  ...  5.75  5.76   3.5  115.920000
53939  0.72       Good     D     SI1  ...  5.69  5.75  3.61  118.110175
53940   0.7  Very Good     D     SI1  ...  5.66  5.68  3.56  114.449728
53941  0.86    Premium     H     SI2  ...  6.15  6.12  3.74  140.766120
53942  0.75      Ideal     D     SI2  ...  5.83  5.87  3.64  124.568444

[53943 rows x 11 columns]

In [0]:
#5. Impute missing price values with mean
dfd2=dfd['price']

In [0]:
dfd2

0         326.0
1         326.0
2         327.0
3         334.0
4         335.0
          ...
53938    2757.0
53939    2757.0
53940    2757.0
53941    2757.0
53942    2757.0
Name: price, Length: 53943, dtype: float64

In [0]:
dfd2.mean()

3932.8585253712527

In [0]:
dfd2.fillna(3932.85)

0         326.0
1         326.0
2         327.0
3         334.0
4         335.0
          ...
53938    2757.0
53939    2757.0
53940    2757.0
53941    2757.0
53942    2757.0
Name: price, Length: 53943, dtype: float64

In [0]:
#6. In diamonds data set Using the volume calculated above, create bins that have equal population within them. Generate a report that contains cross tab between bins and cut. Represent the number under each cell as a percentage of total.

In [0]:
dfd['volume'].value_counts(bins=5, sort=False)

(-0.84, 167.7]        41374
(167.7, 335.401]      11714
(335.401, 503.101]      837
(503.101, 670.802]       11
(670.802, 838.502]        4
Name: volume, dtype: int64

In [0]:
dfd['volume'].describe()

count    53940.000000
mean       115.502772
std         80.703953
min          0.000000
25%         53.771130
50%         92.851548
75%        165.107264
max        838.502400
Name: volume, dtype: float64

In [0]:
pd.qcut(dfd['volume'], q=4)

0         (-0.001, 53.771]
1         (-0.001, 53.771]
2         (-0.001, 53.771]
3         (-0.001, 53.771]
4         (-0.001, 53.771]
               ...
53938    (92.852, 165.107]
53939    (92.852, 165.107]
53940    (92.852, 165.107]
53941    (92.852, 165.107]
53942    (92.852, 165.107]
Name: volume, Length: 53943, dtype: category
Categories (4, interval[float64]): [(-0.001, 53.771] < (53.771, 92.852] < (92.852, 165.107] <
                                    (165.107, 838.502]]

In [0]:
dfd['quantile_ex_1'] = pd.qcut(dfd['volume'], q=4)
dfd['quantile_ex_2'] = pd.qcut(dfd['volume'], q=10, precision=0)

dfd.head()

  carat      cut color clarity  ...     z    volume     quantile_ex_1  quantile_ex_2
0  0.23    Ideal     E     SI2  ...  2.43  38.20203  (-0.001, 53.771]    (8.0, 51.0]
1  0.21  Premium     E     SI1  ...  2.31   8.00000  (-0.001, 53.771]    (-1.0, 8.0]
2  0.23     Good     E     VS1  ...  2.31   8.00000  (-0.001, 53.771]    (-1.0, 8.0]
3  0.29  Premium     I     VS2  ...  2.63  46.72458  (-0.001, 53.771]    (8.0, 51.0]
4  0.31     Good     J     SI2  ...  2.75  51.91725  (-0.001, 53.771]   (51.0, 59.0]

[5 rows x 13 columns]

In [0]:
dfd['quantile_ex_1'].value_counts()

(-0.001, 53.771]      13488
(92.852, 165.107]     13486
(165.107, 838.502]    13484
(53.771, 92.852]      13482
Name: quantile_ex_1, dtype: int64

In [0]:
dfd['quantile_ex_2'].value_counts()

(-1.0, 8.0]       5641
(51.0, 59.0]      5401
(93.0, 119.0]     5395
(233.0, 839.0]    5394
(176.0, 233.0]    5394
(158.0, 176.0]    5394
(74.0, 93.0]      5394
(119.0, 158.0]    5393
(59.0, 74.0]      5385
(8.0, 51.0]       5149
Name: quantile_ex_2, dtype: int64